body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url('fossil-fuel-hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #c2c2c2;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

